<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/tabla.css">
        <style>
            body{
                font-family:arial;                
            }
            caption em{
                font-size:22px;
            }

            section .cuerpo .tabla .zebra thead tr th{
                border: 1px solid #03a0f4;
		font-size:12px;
            }
            .tabla{
                position:relative;
                top:40px;
                left:20%;
                padding:10px;
                width:1050px;
                height:300px;
                overflow:auto;
            }
        </style>
    </head>
    <body>
        <section>
            <article class="cuerpo">
                <div class="tabla">
                    <table class="zebra registro_compras" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                        <caption><em>Reporte del Registro de Ventas</em></caption>
                        <thead>
                            <tr>
                                <th scope="col" rowspan="3">NÚMERO CORRELATIVO DEL REGISTRO O CÓDIGO UNICO DE LA OPERACIÓN</th> 
                                <th scope="col" rowspan="3">FECHA DE EMISIÓN DEL COMPROBANTE DE PAGO O DOCUMENTO</th> 
                                <th scope="col" rowspan="3">FECHA DE VENCIMIENTO y/o FECHA DE PAGO</th> 
                                <th scope="col" colspan="3">COMPROBANTE DE PAGO O DOCUMENTO</th>
                                <th scope="col" colspan="3">INFORMACIÓM DEL CLIENTE</th>
                                <th scope="col" rowspan="3">VALOR FACTURADO DE LA EXPORTACIÓN</th> 
                                <th scope="col" rowspan="3">BASE IMPONIBLE DE LA OPERACIÓN GRABADA</th> 
                                <th scope="col" colspan="2">IMPORTE TOTAL DE LA OPERACIÓN EXONERADA O INAFECTA</th> 
                                <th scope="col" rowspan="3">ISC</th> 
                                <th scope="col" rowspan="3">IGV Y/O IPM</th>
                                <th scope="col" rowspan="3">OTROS TRIBUTOS Y CARGOS QUE FORMAN PARTE DE LA BASE IMPONIBLE</th>
                                <th scope="col" rowspan="3">IMPORTE TOTAL DEL COMPROBANTE DE PAGO</th> 
                                <th scope="col" rowspan="3">TIPO DE CAMBIO</th> 
                                <th scope="col" colspan="4">REFERENCIA DEL COMPROBANTE DE PAGO O DOCUMENTO ORIGINAL QUE SE MODIFICA</th> 
                            </tr>
                            <tr>
                                <th scope="col" rowspan="2">TIPO (TABLA 10)</th> 
                                <th scope="col" rowspan="2">N° SERIE O N° DE SERIE DE LA MÁQUINA REGISTRADORA</th>
                                <th scope="col" rowspan="2">NÚMERO</th> 
                                <th scope="col" colspan="2">DOCUMENTO DE IDENTIDAD</th>
                                <th scope="col" rowspan="2">APELLIDOS Y NOMBRES, DENOMINACIÓN O RAZÓN SOCIAL</th> 
                                <th scope="col" rowspan="2">EXONERADA </th>
                                <th scope="col" rowspan="2">INAFECTA</th>
                                <th scope="col" rowspan="2">FECHA</th>
                                <th scope="col" rowspan="2">TIPO (TABLA 10)</th>
                                <th scope="col" rowspan="2">SERIE</th> 
                                <th scope="col" rowspan="2">N° DEL COMPROBANTE DE PAGO O DOCUMENTO</th> 
                            </tr>
                            <tr>
                                <th scope="col" >TIPO (TABLA 2)</th>
                                <th scope="col" >NÚMERO</th> 
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                        <tbody>            
                            <tr>
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
       </section>
    </body>
</html>
